.validation-message {
  color: red;
  font-size: 14px;

}

.input-group:focus-within {
  box-shadow: none;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white !important;
}

.input-group-text {
  padding: 5px;
}

/* .table> :not(caption)>*>* {
  border: 0;
} */

.btn:not(:disabled):not(.disabled) {
  padding: 10px;
}
.total-nights {
  background: #596d86;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 5px;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -1000px;
  height: 100%;
  background-color: #fff;
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1060;
}

.sidebar h3 {
  padding: 15px;
}

.sidebar-open {
  right: 0;
}

.sidebar-content {
  padding: 20px 0px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.dropzone .dz-message {
  margin: 4em 0 !important;
}
.dropzone .dz-preview {
  margin: 10px !important;
}


.popover {
  position: absolute;
  z-index: 1050; /* Ensure it's on top of other elements */
  width: auto;
  min-width: 100px;
}

.popover-body {
  font-size: 12px;
  padding: 10px;
}

.arrow {
  z-index: 1040; /* Ensure the arrow is also on top */
}

.fc-highlight {
  background-color: rgba(0, 123, 255, 0.2); /* Highlight selected dates */
}

.selected-days-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 123, 255, 0.6);
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
}

.circle-shape {
  display: inline-block;
  text-align: center;
  background-color: rgb(236, 243, 248);
  height: 24px;
  border-radius: 12px;
  min-width: 24px;
  line-height: 24px;
}
.fc-timeline-slot-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slot-label-weekday {
  font-weight: bold;
}

.slot-label-day {
  font-size: 16px;
}

.slot-label-month {
  font-size: 12px;
  color: gray;
}
.fc-timeline-header-row th {
  border: 0;
  border-right: 1px solid #D1D4D9;
  border-left: 1px solid #D1D4D9;
}

.fc-timeline-header-row-chrono {
  border-bottom: 1px solid #D1D4D9;

}

/* .collapsed {
  display: none;
} */
.fc .fc-timeline-header-row-chrono .fc-timeline-slot-frame {
  justify-content: flex-end;
}

.fc .fc-timeline-header-row:last-child .fc-timeline-slot-frame {
  overflow: visible;
}


.resource-header-select {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
}

.resource-header-selected-label {
  font-weight: bold;
  padding-right: 5px;
}

.checkbox-container {
  margin-top: 5px;
  padding: 10px;
  border-top: 1px solid #ccc;
  display: none;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
}

.checkbox-option-wrapper {
  margin-bottom: 8px;
}

.resource-header-checkbox {
  margin-right: 10px;
}

.fc .fc-timeline-slot-cushion {

  position: relative;
  top: -4px;
}
.btn .btn-primary .waves-effect .waves-light .show{
  border: 0;
  box-shadow: none;
}
.btn btn-primary .waves-effect .waves-light .show :hover{
 background-color: red;
}
/* .fc .fc-datagrid-cell-cushion{
  width: 100% !important;
}
.resource-header{
  display: flex;
  align-items: center;
}
.dropdown-toggle{
  width: 100vh;
  background: transparent;
  text-align: center;
} */






/* this is changees css from moaman and sama */
/* Helpers */
.right{
  right: 10px !important;
}
.right-0{
  right: 0px !important;
  left: auto;
}
.top{
  top: 47px !important;
  right: 20px !important;
}
.mt{
  margin-top: 25px !important;
}
.mt-40{
  margin-top: 40px !important;
}
.dropzone {
  border-style: dashed !important;
  padding:  0 !important;
}



/* start header styling */
.switch .switch-input:checked ~ .switch-toggle-slider::after {
  left: 4.15rem !important;
}

.switch .switch-toggle-slider::after {
  top: 4px;
}
.switch {
  width: 100px;
}

.switch .switch-toggle-slider {
  width: 5.5rem;
  height: 30px;
  line-height: 26px;
  top: 0;
  left: 0;
}

.switch .switch-off {
  font-size: 15px;
}
.switch-input:checked ~ .switch-toggle-slider .switch-on {
  font-size: 15px;
}

.fc .fc-button-primary:not(.fc-prev-button):not(.fc-next-button) {
  position: absolute;
  left: 200px;
  top: 60px;
}
.fc .fc-toolbar-title {
  font-size: 1.5rem;
  margin-left: 9px;
}

.calendarDate input {

  font-size: 13px;
}

.calendarDate i {
  position: absolute;
  top: 8px;
right:23px ;  pointer-events: none;
}

.fullbox {
  position: relative;
  left: -333px;
  width: 375px;
  background: #ffffff;
  z-index: 10;
  border-radius: 10px;
}
.fullbox ul li i {
  margin-right: 10px;
  border-radius: 5px;
}
.fullbox ul li {
  list-style: none;
  font-size: 12px;
}
.fullbox h5 {
  margin-left: 20px;
  margin-top: 7px;
}
.fullbox hr {
  background: black;
  width: 70%;
  margin-left: 50px;
}

/* Booking-Status-First */
.fullbox .Booking-Status-First li:nth-child(1) i {
  color: #ff6666;
}
.fullbox .Booking-Status-First li:nth-child(2) i {
  color: #666666;
}
.fullbox .Booking-Status-First li:nth-child(3) i {
  color: #000066;
}
.fullbox .Booking-Status-First li:nth-child(4) i {
  color: #33cc00;
}

/* Booking-Status-Secound */
.fullbox .Booking-Status-Secound li:nth-child(1) i {
  color: #3366ff;
}
.fullbox .Booking-Status-Secound li:nth-child(2) i {
  color: #33cc00;
}
.fullbox .Booking-Status-Secound li:nth-child(3) i {
  color: #ff6666;
}
.fullbox .Booking-Status-Secound li:nth-child(4) i {
  color: #663300;
}

/* Style for the parent li to center content */
.fullbox .Booking-Indicators-First li,
.fullbox .Booking-Indicators-Secound li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px;
}

.fullbox .Booking-Indicators-First li i,
.fullbox .Booking-Indicators-Secound li i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  color: #302a18;
  font-size: 10px;
}

.fullbox .Booking-Indicators-First li:nth-child(1) i {
  background-color: #ffe17d;
  outline: 2px solid #d6bd6a;
}
.fullbox .Booking-Indicators-First li:nth-child(2) i {
  background-color: #fe6b6b;
  outline: 2px solid #d96969;
}
.fullbox .Booking-Indicators-First li:nth-child(3) i {
  background-color: #da8aff;
  outline: 2px solid #bc77dc;
}
.fullbox .Booking-Indicators-First li:nth-child(4) i {
  background-color: #81f6ef;
  outline: 2px solid #7fd5d0;
}

/* .Booking-Indicators-Secound */
.fullbox .Booking-Indicators-Secound li:nth-child(1) i {
  background-color: #d68484;
  outline: 2px solid #d88888;
}
.fullbox .Booking-Indicators-Secound li:nth-child(2) i {
  background-color: #f2994a;
  outline: 2px solid #cb803e;
}
.fullbox .Booking-Indicators-Secound li:nth-child(3) i {
  background-color: #ffffff;
  outline: 2px solid #d6d6d6;
  color: #fc7d0d !important;
}

/* Room-Indicators-First */
.fullbox .Room-Indicators-First li i,
.fullbox .Room-Indicators-Secound li i {
  font-size: 16px;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.fullbox .Room-Indicators-First li:nth-child(2) i {
  font-size: 14px !important;
}

/* Unclassified */
.fullbox .Unclassified-First li:nth-child(1) i {
  color: #bdd8ff;
}
.fullbox .Unclassified-First li:nth-child(2) i {
  color: #ff5353;
}
.fullbox .Unclassified-Secound li:nth-child(1) i {
  color: #ffcfcf;
}

/* end header styling */

/* start calender styling */
/* the close button */
.popoverClose {
  position: absolute;
  top: 5px;
  right: 11px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
  color: #fd0017;
  cursor: pointer;
}
.popoverClose:hover {
  background-color: #fd0017;
  color: white;
  transform: scale(1);
}
.popoverContent button {
  border: none;
  background: transparent;
  color: #2491fc;
}
.popover {
  position: absolute;
  transition: all 0.3s ease;
  max-width: 250px;
}

/* end calender styling */

/* start reservation style */

.card-body input,
.total-nights,
select {
  border-radius: 0px;
}
  .icon-date{

      position: absolute;
      top: 35px;
      right: 10px;


}
.icon-time {
  position: absolute;
  top: 12px;
  right: 67px;
}


.card-datatable thead tr {
  background-color: #fafafa;
}
.rateOffer {
  color: black;
}

.groupStyle {
  color: #7367f0;
  border-color: #7367f0;
  border-radius: 0;
  z-index: 10;
}

.billingMoney {
  background-color: rgb(242, 246, 249);
}
/* start sidebar  */
.sidebar-open {
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar-open::-webkit-scrollbar {
  display: none;
}
/* momen change the buttons positions and width */
.scbuttons {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 1000px;
  max-width: inherit;
  z-index: 10;
  padding: 10px 20px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  text-align: right;
  background-color: #fff;
}
.sidebar-content {
  height: 1300px;
}

/* end sidebar  */
/* end reservation style */

/* full calendar  */
.fc-scrollgrid-sync-table .fc-timeline-header-row th:nth-child(7n + 5) {
  background-color: rgb(255, 248, 225);
}
.fc-scrollgrid-sync-table .fc-timeline-header-row th:nth-child(7n + 6) {
  background-color: rgb(255, 248, 225);
}
.selected-days-tooltip {
  background-color: rgb(27, 21, 46);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .table > :not(caption) > * > * {
  padding: 5px;

} */

/* full calendar  */


.selected-days-tooltip,
.fc-highlight {
  border-radius: 2px;
}
.fc-highlight {
  background-color: black !important;
  color: white !important;
}
.selected-days-tooltip {
  background-color: rgba(158, 75, 157, 0.199);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flatpickr-current-month {
  top: 5px;
}
select.form-select option {
  background-color: transparent;
}
.accordion-item {
  border-color: transparent;
}
.icon-position {
  position: absolute;
  top: -12px;
  right: 7px;
}
.room-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 10px;
}

.room {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}


.room-number {
  font-weight: bold;
  margin-bottom: 5px;
}

.room-type {
  font-size: 0.9em;
  color: #555;
}

.room-occupant {
  margin-top: 5px;
  font-style: italic;
  color: #333;
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 10px;
}


.room.available {
  background-color: #DBF1DB;
  color: #4CD120 !important;
}

.room.unavailable {
  background-color: white;
  color: #262626 !important;
}

.room.blocked {
  background-color: #DBF1DB;
  color: #000065 !important;
}

.room.reserved {
  background-color: #DBF1DB;
  color: #FF6666 !important;
}

.room-number {
  font-weight: bold;
  margin-bottom: 5px;
}

.room-type {
  font-size: 0.9em;
  color: #555;
}

.room-occupant {
  margin-top: 5px;
  font-style: italic;
  color: #333;
}
/* حقل الإدخال مع أيقونات */
/* الحقل مع الأيقونات */
.input-with-icon .icon-input {
  padding-left: 35px;
  padding-right: 35px;
  /* مساحة للأيقونة اليمنى */
  height: 40px;
  font-size: 1rem;
}

/* تصميم الحاوية */
.input-with-icon .input-wrapper {
  position: relative;
}

/* الأيقونة في البداية */
.input-with-icon .input-icon {
  position: absolute;
  left: 10px;
  /* ضعها في الجانب الأيسر */
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

/* الأيقونة في النهاية */
.input-with-icon .input-icon-right {
  position: absolute;
  right: 10px;
  /* ضعها في الجانب الأيمن */
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  /* يمنع تفاعل المستخدم مع الأيقونة */
}

.me-2 h6 {
  margin-bottom: 5px;
}

.fc .fc-datagrid-cell-cushion,
.fc .fc-scroller-harness,
.fc-scroller {
  overflow: visible !important;
}

.fc-scrollgrid-sync-inner {
  width: 100%;
}

.fc-datagrid-expander-placeholder {
  display: none !important;
}

#calendar-footer {
  text-align: center;
  margin-top: -23px;
  font-size: 14px;
  display: none;
}

#calendar-footer table {
  width: 100%;
}

#calendar-footer td {
  padding: 0 3px;
  border: 1px solid #ddd;
  width: 65px;
}

.fc-license-message {
  display: none;
}
