.validation-message {
  color: red;
  font-size: 14px;

}

.input-group:focus-within {
  box-shadow: none;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white !important;
}

.input-group-text {
  padding: 5px;
}

.table> :not(caption)>*>* {
  border: 0;
}

.btn:not(:disabled):not(.disabled) {
  padding: 10px;
}
.total-nights {
  background: #596d86;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 5px;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -1000px;
  height: 100%;
  background-color: #fff;
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1060;
}

.sidebar h3 {
  padding: 15px;
}

.sidebar-open {
  right: 0;
}

.sidebar-content {
  padding: 20px 0px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.dropzone .dz-message {
  margin: 4em 0 !important;
}
.dropzone .dz-preview {
  margin: 10px !important;
}
