/* start header styling */
.switch .switch-input:checked ~ .switch-toggle-slider::after {
  left: 4.15rem !important;
}

.switch .switch-toggle-slider::after {
  top: 4px;
}
.switch {
  width: 100px;
}

.switch .switch-toggle-slider {
  width: 5.5rem;
  height: 30px;
  line-height: 26px;
  top: 0;
  left: 0;
}

.switch .switch-off {
  font-size: 15px;
}
.switch-input:checked ~ .switch-toggle-slider .switch-on {
  font-size: 15px;
}

.fc .fc-button-primary:not(.fc-prev-button):not(.fc-next-button) {
  position: absolute;
  left: 270px;
  top: 60px;
}
.fc .fc-toolbar-title {
  font-size: 1.5rem;
  margin-left: 9px;
}

.calendarDate input {
  border: 1px solid #d1d5db;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  width: 200px;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.calendarDate i {
  position: absolute;
  top: 30%;
  left: 190px;
  pointer-events: none;
}

.fullbox {
  position: relative;
  left: -333px;
  width: 375px;
  background: #ffffff;
  z-index: 10;
  border-radius: 10px;
}
.fullbox ul li i {
  margin-right: 10px;
  border-radius: 5px;
}
.fullbox ul li {
  list-style: none;
  font-size: 12px;
}
.fullbox h5 {
  margin-left: 20px;
  margin-top: 7px;
}
.fullbox hr {
  background: black;
  width: 70%;
  margin-left: 50px;
}

/* Booking-Status-First */
.fullbox .Booking-Status-First li:nth-child(1) i {
  color: #ff6666;
}
.fullbox .Booking-Status-First li:nth-child(2) i {
  color: #666666;
}
.fullbox .Booking-Status-First li:nth-child(3) i {
  color: #000066;
}
.fullbox .Booking-Status-First li:nth-child(4) i {
  color: #33cc00;
}

/* Booking-Status-Secound */
.fullbox .Booking-Status-Secound li:nth-child(1) i {
  color: #3366ff;
}
.fullbox .Booking-Status-Secound li:nth-child(2) i {
  color: #33cc00;
}
.fullbox .Booking-Status-Secound li:nth-child(3) i {
  color: #ff6666;
}
.fullbox .Booking-Status-Secound li:nth-child(4) i {
  color: #663300;
}

/* Style for the parent li to center content */
.fullbox .Booking-Indicators-First li,
.fullbox .Booking-Indicators-Secound li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px;
}

.fullbox .Booking-Indicators-First li i,
.fullbox .Booking-Indicators-Secound li i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  color: #302a18;
  font-size: 10px;
}

.fullbox .Booking-Indicators-First li:nth-child(1) i {
  background-color: #ffe17d;
  outline: 2px solid #d6bd6a;
}
.fullbox .Booking-Indicators-First li:nth-child(2) i {
  background-color: #fe6b6b;
  outline: 2px solid #d96969;
}
.fullbox .Booking-Indicators-First li:nth-child(3) i {
  background-color: #da8aff;
  outline: 2px solid #bc77dc;
}
.fullbox .Booking-Indicators-First li:nth-child(4) i {
  background-color: #81f6ef;
  outline: 2px solid #7fd5d0;
}

/* .Booking-Indicators-Secound */
.fullbox .Booking-Indicators-Secound li:nth-child(1) i {
  background-color: #d68484;
  outline: 2px solid #d88888;
}
.fullbox .Booking-Indicators-Secound li:nth-child(2) i {
  background-color: #f2994a;
  outline: 2px solid #cb803e;
}
.fullbox .Booking-Indicators-Secound li:nth-child(3) i {
  background-color: #ffffff;
  outline: 2px solid #d6d6d6;
  color: #fc7d0d !important;
}

/* Room-Indicators-First */
.fullbox .Room-Indicators-First li i,
.fullbox .Room-Indicators-Secound li i {
  font-size: 16px;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.fullbox .Room-Indicators-First li:nth-child(2) i {
  font-size: 14px !important;
}

/* Unclassified */
.fullbox .Unclassified-First li:nth-child(1) i {
  color: #bdd8ff;
}
.fullbox .Unclassified-First li:nth-child(2) i {
  color: #ff5353;
}
.fullbox .Unclassified-Secound li:nth-child(1) i {
  color: #ffcfcf;
}

/* end header styling */

/* start calender styling */
/* the close button */
.popoverClose {
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  top: 5px;
  right: 11px;
  color: #fd0017;
  cursor: pointer;
  border-radius: 3px;
}
.popoverClose:hover {
  background-color: #fd0017;
  color: white;
  transform: scale(1);
}
.popoverContent button {
  border: none;
  background: transparent;
  color: #2491fc;
}
.popover {
  max-width: 250px; /* لضبط العرض */
  position: absolute;
  transition: all 0.3s ease; /* لتوفير حركة سلسة عند التحديث */
}

/* end calender styling */

/* start reservation style */

.card-body {
  font-size: 12px !important;
  font-family: "Roboto", sans-serif;
}
.card-body .cio input,
.total-nights {
  border-radius: 0px;
}
.total-nights {
  font-size: 12px;
}
#formValidationReservation .cio input,
select,
.total-nights {
  padding: 4px 8px !important;
  height: 31px !important;
  font-size: 13px;
}
.ci-date-icon {
  position: absolute;
  top: 60%;
  left: 140px;
  pointer-events: none;
}
.ci-clock-icon {
  position: absolute;
  top: 9px;
  left: 48%;
  pointer-events: none;
}
.co-date-icon {
  position: absolute;
  top: 60%;
  left: 154px;
  pointer-events: none;
}
.co-clock-icon {
  position: absolute;
  top: 34px;
  left: 48%;
  pointer-events: none;
}

#flatpickr-time-02 {
  width: 95px !important;
}
#formValidationReservation label,
#formValidationReservation input::placeholder,
#formValidationReservation select {
  color: black;
}
#formValidationReservation input::placeholder {
  font-size: 12px;
}
.card-datatable thead tr {
  background-color: #fafafa;
}
.AddButton {
  border-radius: 2px;
  border-color: #1890ff;
  background-color: white;
  color: #1890ff;
  font-weight: 400;
  height: 32px;
  width: 92px;
  padding: 4px 15px;
  font-size: 13px;
}

.datatables-projects th,
.datatables-projects td {
  padding: 8px 2px;
  color: black;
  overflow: hidden;
}
.datatables-projects th {
  font-size: 11px !important;
  font-weight: bold;
  color: black !important;
}
.form-check-label {
  font-size: 13px;
}
.rateOffer {
  color: black;
}
/* fix it  */
.input-group .input-group-text,
.form-select,
.form-control {
  height: 31px !important;
  font-size: 12px;
  border-radius: 2px !important;
}
.input-group i {
  font-size: 14px;
  height: 9px;
}
h6 {
  color: black;
  font-weight: bold;
}
.cancelButton,
.ReserverButton {
  height: 31px !important;
  font-size: 12px;
  border-radius: 2px !important;
  padding: 4px 15px;
  width: 120px;
}
.cancelButton {
  background-color: white;
  color: black;
  margin-right: 10px;
}
.ReserverButton {
  color: white;
  background-color: #1890ff;
  border: none;
}
.billingMoney {
  background-color: rgb(242, 246, 249);
}
.summary .card {
  color: black !important;
}
/* start sidebar  */
.sidebar-open {
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-open span i{
  position: relative;
  bottom: 29%;
  left: 0%;
}
.sidebar-open i {
  position: relative;
  bottom: 29%;
  left: 85%;
}
/* end sidebar  */
/* end reservation style */

/* full calendar  */
.fc-scrollgrid-sync-table .fc-timeline-header-row th:nth-child(7n + 5) {
  background-color: rgb(255, 248, 225);
}
.fc-scrollgrid-sync-table .fc-timeline-header-row th:nth-child(7n + 6) {
  background-color: rgb(255, 248, 225);
}
.selected-days-tooltip {
  background-color: rgb(27, 21, 46);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
td {
  height: 38px !important;
}
/* full calendar  */

td {
  height: 38px !important;
}
.selected-days-tooltip,
.fc-highlight {
  border-radius: 2px;
}
.fc-highlight {
  background-color: black !important;
  color: white !important;
}
.selected-days-tooltip {
  background-color: rgba(158, 75, 157, 0.199);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
