@media (max-width: 991.98px) {
    .sidebar {
      width: 80% !important;
    }
    .scbuttons {
      width: 80% !important;
    }
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      width: 75% !important;
    }
    .scbuttons {
        width: 75% !important;
    }
  }